@import "reset"
.phone a, .adress a
	transition: 0.3s
	&:hover
		color: $accent
		transition: 0.3s
.title
	font-size: 34px
	line-height: 1.3
	text-align: left
.subtitle
	font-size: 18px
	margin-top: 10px
	margin-bottom: 50px
.button, .button-alt
	display: flex
	justify-content: center
	align-items: center
	color: #fff
	font-weight: 500
	font-size: 18px
	height: 60px
	width: 240px
	background-color: $accent
	border-radius: 7px
	box-shadow: none
	transition: 0.3s
	cursor: pointer
	img
		margin-right: 10px
	&:hover
		background-color: $main
		color: #ffffff
.alt
	background-color: $main
	color: #ffffff
	&:hover
		background-color: $accent
		color: #000000
.deactive
	pointer-events: none
	background-color: $light
	color: #000000
	opacity: 0.5
.header
	position: absolute
	left: 0
	top: 0
	width: 100%
	padding: 30px 0 20px 0
	.container
		display: flex
		justify-content: space-between
		align-items: center
	&__call
		background-color: $main
		&:hover
			background-color: $accent
			color: #000000
	&__menu
		ul
			display: flex
			justify-content: center
			align-items: center
			li
				margin: 0 15px	
				a
					font-size: 18px
					color: #ffffff
					position: relative
					transition: 0.3s
					&:hover
						transition: 0.3s
						color: $accent
						&::after
							transition: 0.3s
							width: 100%
					&::after
						position: absolute
						content: ''
						height: 2px
						width: 0%
						bottom: -5px
						left: 0
						background-color: $accent
						transition: 0.3s
	
.offer
	background-image: url(img/bg-header.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	padding-top: 180px
	padding-bottom: 70px
	&-left
		width: 65%
		h1
			color: #ffffff
			font-size: 40px
			margin-bottom: 30px
		p
			font-size: 24px
			margin-bottom: 30px
			color: #ffffff
		.button
			color: #000000
			&:hover
				color: #ffffff
	&-right
		width: 35%
	.container
		display: flex
		justify-content: space-between
		align-items: center

.video
	padding-top: 100px
	&-wrap
		.play
			height: 550px
			width: 100%
			background-repeat: no-repeat
			background-size: cover
			background-position: center
			border-radius: 20px
			overflow: hidden
			cursor: pointer
			transition: 0.3s
			img
				height: 100%
				width: 100%
				object-fit: cover
				z-index: 10
			&:hover
				transition: 0.3s
				transform: scale(1.01)
			iframe
				display: none
				height: 100%!important
				width: 100%!important
				border-radius: 20px
				z-index: 5

.features
	&-wrap
		display: flex
		justify-content: space-between
		align-items: flex-start
		&-item
			display: flex
			flex-direction: column
			align-items: flex-start
			margin-top: 40px
			img
				height: 90px
				width: 90px
				margin-bottom: 25px
			h3
				margin-bottom: 15px
				font-size: 26px
			p
				font-size: 18px
				padding-right: 40px
.better
	&-wrap
		display: flex
		justify-content: space-between
		align-items: stretch
		flex-wrap: wrap
		padding-top: 30px
		&-item
			width: 45%
			display: block
			padding-left: 70px
			margin-bottom: 30px
			position: relative
			h3
				font-size: 26px
				margin-bottom: 10px
			p
				font-size: 18px
			img
				position: absolute
				left: 0
				height: 50px
				width: 50px
				object-fit: cover
				top: 0

.constructor
	padding-top: 0px
	padding-bottom: 100px
	
	&-buttons
		display: flex
		justify-content: flex-end
		align-items: center
		.deactive
			color: #000000!important
		.button
			margin-left: 20px
			color: #ffffff
			&:hover
				color: #000000
		.notice
			box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08)
			background: #fff
			padding: 12px 25px
			border-radius: 5px
			position: relative
			z-index: 1
			&::before
				position: absolute
				background: #ffffff
				box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08)
				z-index: -1
				height: 20px
				width: 20px
				right: -8px
				top: 50%
				transform: translateY(-50%) rotate(45deg)
				content: ''
	&-wrap
		display: flex
		justify-content: space-between
		align-items: flex-start
		&-item
			width: calc(25% - 10px)
			border-radius: 25px
			box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08)
			display: flex
			flex-direction: column
			align-items: center
			position: relative
			padding: 250px 25px 25px 25px
			cursor: pointer
			transition: 0.3s
			margin-bottom: 50px
			.button
				height: 50px	
				width: 100%
				max-width: calc(100% - 30px)
			&:hover
				transition: 0.3s
				transform: scale(1.05)
			h3
				font-size: 18px
				font-weight: 500
				margin-bottom: 25px
			img
				position: absolute
				left: 50%
				transform: translateX(-50%)
				bottom: 125px
			&:nth-child(2)
				img
					max-width: 170px
					bottom: 114px	
			&:nth-child(4)
				img
					max-width: 170px
					bottom: 160px	
			.assets
				position: absolute
				bottom: -50px
				display: flex
				justify-content: center
				align-items: center
				div.assets-d
					display: flex
					justify-content: center
					align-items: center
					height: 30px
					width: 50px
					background: #fff
					border: 1px solid #E3E3E3;
					box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08)
					border-radius: 10px
					margin: 0 5px
					&:hover
						color: #000
						background-color: $accent
					img
						position: static
						transform: none
	&-page
		background-image: url(img/bg-header.jpg)
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		padding-top: 180px
		padding-bottom: 70px
		.title, .subtitle
			color: #ffffff
		.constructor-wrap-item
			background-color: #fff
			
.up
	position: fixed
	bottom: 20px
	right: 20px
	height: 40px
	width: 40px
	background-color: $main
	border-radius: 8px
	cursor: pointer
	transition: 0.3s
	display: none
	z-index: 10
	&:hover
		background: $accent
		transition: 0.3s
	&::after
		position: absolute
		width: 15px
		height: 15px
		content: ''
		top: 50%
		left: 50%
		transform: translate(-50%, -50%) rotate(90deg)
		background-repeat: no-repeat
		background-size: 100%
		background-position: center
		background-image: url(img/icons/slider-white.svg)
.call
	background-color: $accent
	.container
		display: flex
		justify-content: space-between
		align-items: center
	&-left
		width: 40%
	&-right
		width: 50%	
		.form-wrap
			display: flex
			align-items: flex-end
			justify-content: flex-start
			&-right
				input
					padding: 15px 35px
					color: #ffffff
					background-color: #000000
					height: auto
					width: auto
					border-radius: 7px
					box-shadow: none
					font-size: 16px
					margin: 0
			&-left
				display: flex
				flex-direction: column
				align-items: flex-start
				padding-right: 20px
				input
					font-size: 16px
					color: #000000
					box-shadow: none
					border-radius: 7px
					padding: 15px 20px
					width: 380px
					max-width: 400px
					&::placeholder
						color: #000000
						
		h2
			font-size: 34px
		p
			font-size: 30px
			margin-bottom: 50px
		b
			font-size: 14px
			font-weight: 400
			margin-bottom: 10px
.footer
	padding-top: 0
	padding-bottom: 0
	&-top
		background: $dark
		.container
			display: flex
			justify-content: space-between
			align-items: center
			padding-bottom: 50px
			padding-top: 50px
		p, a
			color: #ffffff
		.social
			a
				margin: 0 5px
				img
					height: 30px
					width: 30px

		.phone
			p
				font-size: 14px
			a
				font-size: 18px
		.adress
			img
				height: 10px
				width: 10px
				object-fit: contain
				margin-right: 10px
			p
				font-size: 14px
				margin-bottom: 5px
				padding: 0
				margin: 0
			a
				font-size: 14px
				position: relative
	&-bot
		.container
			display: flex
			justify-content: space-between
			align-items: center
			padding-top: 25px
			padding-bottom: 25px
.overlay
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(#000, .5)
	z-index: 100
	display: none
.overlay-first
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(#000, .5)
	z-index: 100


.close-opt
	position: absolute
	top: 5px
	right: 15px
	color: #000
	font-size: 34px
	cursor: pointer
.popup
	background-color: $main
	background-repeat: no-repeat
	background-size: cover
	border-radius: 40px
	z-index: 110
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	padding: 60px
	width: 100%
	max-width: 500px
	display: none
	&-gif
		max-width: 800px
		padding: 30px
		.content
			video
				max-width: 100%
				border-radius: 25px
	h2
		margin-bottom: 50px
		font-size: 24px
		color: #ffffff
	.close
		position: absolute
		top: 5px
		right: 15px
		color: #ffffff
		font-size: 34px
		cursor: pointer
	&-wrap
		display: flex
		flex-direction: column
		align-items: flex-start
		.hidden
			display: none
		strong
			display: block
			margin-top: -20px
			margin-bottom: 30px
			color: #ffffff
			font-size: 22px
			b
				font-size: 24px
		p
			color: #ffffff
			font-size: 14px
			margin-bottom: 5px
		input[type="submit"].button-alt
			padding: 15px 35px
			background-color: $accent
			color: #000000
			width: auto
			display: block
			margin-top: 10px
			&:hover
				color: #ffffff
				background-color: $dark
		input[type="tel"], input[type="text"], input[type="email"]
			padding: 15px 20px
			margin-bottom: 25px
			border-radius: 7px
			color: #000000
			font-size: 16px
			width: 100%
			max-width: 100%
#thx
	background-color: #fff
	width: 100%
	max-width: 600px
	border-radius: 70px
	padding: 70px
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	z-index: 200
	display: none
	div
		display: flex
		justify-content: center
		flex-direction: column
		align-items: center
		max-width: 100%
		padding: 70px 0
		h2
			font-size: 48px
			text-align: center
		p
			font-size: 22px
			text-align: center
			margin-top: 50px

.burger
	display: none


.calc
	&-popup
		position: fixed
		max-width: 1140px
		width: 100%
		padding: 40px
		border-radius: 20px
		background-color: #fff
		z-index: 150
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		max-height: 90%
		overflow-x: hidden
		overflow-y: auto
		display: none
		h2
			font-size: 30px
			margin-bottom: 30px
		&::-webkit-scrollbar
			width: 10px 
			height: 5px
		&::-webkit-scrollbar-button
			background: transparent
		&::-webkit-scrollbar-track
			background-color: $main
		&::-webkit-scrollbar-track-piece
			background-color: #ffffff
		&::-webkit-scrollbar-thumb
			height: 50px 
			background-color: $main 
		&::-webkit-scrollbar-corner
			background-color: #999
		&::-webkit-resizer
			background-color: $main
		&-wrap
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: stretch
			&-left
				width: calc(48%)
				display: flex
				flex-direction: column
				align-items: flex-start
				.calc-popup-wrap-item:last-child
					background-color: #fff
					b
						font-size: 22px
					p
						font-size: 20px
			&-right
				width: calc(48%)
				display: flex
				flex-direction: column
				align-items: flex-start
			&-item
				width: 100%
				background: #F5F5F5
				border-radius: 30px
				margin-bottom: 30px
				padding: 30px 30px 20px 30px
				.buttons
					display: flex
					justify-content: space-between
					align-items: center
					margin-top: 50px
					.button
						font-size: 16px
						max-width: 48%
					.calc-close
						background-color: #ACACAC
						color: #ffffff
				h3
					font-size: 22px
					margin-bottom: 20px
				.result
					display: flex
					justify-content: space-between
					align-items: center	
					padding-bottom: 7px
					margin-bottom: 7px
					border-bottom: 1px solid #E3E3E3
					.calc-row
						margin-bottom: 0
					&:last-child
						border-bottom: none
					b
						font-size: 18px
						font-weight: 600
					p
						font-size: 16px
					select
						max-width: 200px!important
						padding-top: 16px
						padding-bottom: 16px
					.select
						&::after
							height: 9px
	&-overlay
		position: fixed
		display: none
		top: 0 
		bottom: 0
		left: 0
		right: 0
		background-color: rgba(#000, .3)
		width: 100%
		height: 100%
		z-index: 140
	label
		color: #141414
	&-form
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: stretch
		&-left
			width: 40%
			display: flex
			flex-direction: column
			align-items: flex-start
			label
				padding-left: 3px
				font-weight: 400
			input
				width: 100%
				appearance: none
				-webkit-appearance: none
				-moz-appearance: none
				background: #FFFFFF
				border: 1px solid #E3E3E3
				border-radius: 7px
				padding: 20px 30px
				box-shadow: none
			input
				margin-bottom: 30px
				margin-top: 5px
		&-right
			width: 55%
			label
				padding-left: 3px
				font-weight: 400
			textarea
				margin-top: 5px
				width: 100%
				height: calc(100% - 52px)
				appearance: none
				-webkit-appearance: none
				-moz-appearance: none
				background: #FFFFFF
				border: 1px solid #E3E3E3
				border-radius: 7px
				padding: 20px 30px
				box-shadow: none
				resize: none
		&-submit
			width: 100%
			display: flex
			justify-content: flex-start
			align-items: center
			margin-top: 20px
			small
				font-size: 14px
				color: #ACACAC
				max-width: 300px
				margin-left: 40px
				a
					color: $main
					font-size: 14px
	&-row
		display: flex
		align-items: flex-start
		justify-content: flex-start
		margin-bottom: 30px
		position: relative
		width: max-content
		max-width: 100%
		input[type="text"]
			width: 100%
			appearance: none
			-webkit-appearance: none
			-moz-appearance: none
			background: #FFFFFF
			border: 1px solid #E3E3E3
			border-radius: 7px
			padding: 16px 50px 16px 20px
			box-shadow: none
			margin-top: 5px
		.toggle-q
			position: absolute
			top: -10px
			right: -15px
			color: $main
			font-size: 20px
			cursor: pointer
		input[type="checkbox"]
			height: 20px
			width: 20px
			margin-right: 20px
			margin-bottom: 3px
			box-shadow: none
			cursor: pointer
		.act-wrap
			height: 300px
		.act-obl
			position: absolute
			top: 37px
			left: 40px
			height: 220px
			width: 320px
			background: #E3E3E3
			border: 1px solid #141414
		label
			cursor: pointer
		input[type="radio"]
			min-height: 30px
			min-width: 30px
			border-radius: 50%
			box-shadow: none
			margin-top: 10px
			margin-right: 25px
		b
			font-size: 24px
			font-weight: 600
			margin-bottom: 3px
			display: block
		p
			font-size: 16px
		input[type="number"], select, textarea, button
			background-color: #fff
			box-shadow: none
			border-radius: 7px
			border: 1px solid #E3E3E3
			appearance: none
			-moz-appearance: none
			-webkit-appearance: none
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button
				appearance: none
				-moz-appearance: none
				-webkit-appearance: none
		input[type="number"]
			border: none
		.select
			position: relative
			&::after
				position: absolute
				pointer-events: none
				right: 20px
				top: 50%
				transform: translateY(-50%)
				content: ''
				height: 8px
				width: 18px
				background-repeat: no-repeat
				background-size: contain
				background-position: center
				background-image: url(img/icons/down.svg)
		select
			padding: 16px 30px
			width: 380px
		
		&-numbers__input
			display: flex
			justify-content: center
			align-items: center
			margin-right: 10px
			border-radius: 7px
			border: 1px solid #E3E3E3
			.minus, .plus
				background-color: #ffffff
				width: 30px
				height: 52px
				position: relative
				cursor: pointer
				&::after
					position: absolute
					content: ''
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					height: 16px
					width: 16px
					background-repeat: no-repeat
					background-attachment: cover
					background-position: center
			.minus
				border-radius: 7px 0 0 7px
				&::after
					background-image: url(img/icons/calc-minus.svg)
			.plus
				border-radius: 0 7px 7px 0
				&::after
					background-image: url(img/icons/plus.svg)
			input
				height: 52px
				font-size: 18px
				padding-top: 15px
				padding-bottom: 15px
				width: 60px
				padding-left: 15px
				border-radius: 0
		&-column
			display: flex
			flex-direction: column
			align-items: flex-start
			input[type="file"]
				padding: 10px
				box-shadow: none
				background-color: #fff
				margin-top: 5px
			p
				margin-bottom: 10px
				display: block
	&-section
		background-color: #F5F5F5
		padding: 60px
		border-radius: 30px
		margin-top: 50px
		&:last-child
			margin-bottom: 50px
		.title
			font-size: 32px
			line-height: 1
		.subtitle
			font-size: 16px
			color: #747474
			max-width: 700px
			margin-bottom: 40px
	&-wrap
		display: flex
		justify-content: space-between
		align-items: stretch
		p
			margin-bottom: 2px
			font-size: 16px
			padding-left: 3px
		&-left
			width: calc(100% - 450px)
		&-right
			width: 400px
			height: 300px
			display: flex
			justify-content: center
			align-items: center
			position: relative
			&__height
				position: absolute
				top: 57px
				left: 5px
				transform: rotate(-90deg)
				font-size: 18px
				background-color: #E3E3E3
				padding: 2px 5px
				min-width: 40px
				border-radius: 5px
			&__width
				position: absolute
				min-width: 40px
				bottom: 8px
				right: 108px
				font-size: 18px
				background-color: #E3E3E3
				padding: 2px 5px
				border-radius: 5px
			img
				object-fit: contain


.disabled
	opacity: 0.3
	pointer-events: none

.calc-row b.q-text
	position: absolute
	padding: 20px
	background-color: #fff
	font-weight: 400
	font-size: 14px
	right: -30px
	color: #000000
	bottom: 10px;
	left: 10px
	width: 300px
	display: none
.toggle-q:hover
	b.q-text
		display: block


.calc-ral
	position: fixed
	top: 50%
	left: 50%
	width: 100%
	max-width: 1200px
	padding: 50px
	border-radius: 45px
	transform: translate(-50%, -50%)
	background-color: #fff
	z-index: 200
	display: none
	overflow-y: auto
	max-height: 90%
	&-wrap
		margin-top: 50px
		display: flex
		flex-wrap: wrap
		justify-content: flex-start
		align-items: stretch
		&__item
			display: flex
			justify-content: center
			align-items: center
			background-color: #000
			width: calc(100% / 17 - 2px)
			margin-right: 2px
			margin-bottom: 2px
			font-weight: 400
			font-size: 14px
			min-height: 40px
			cursor: pointer
			color: #ffffff
			transition: 0.3s
			&:hover
				color: #000000
				border: 4px solid #ffffff
				transition: 0.3s
	.close
		position: absolute
		top: 10px
		right: 20px
		font-size: 40px
		cursor: pointer

.action-block
	background-color: #fff
	padding: 25px
	border-radius: 25px
	max-width: 270px
	h4
		font-size: 18px
		font-weight: 500
		padding-left: 60px
		position: relative
		margin-bottom: 25px
		display: block
		&::after
			position: absolute
			content: ''
			left: 0
			top: 50%
			transform: translateY(-50%)
			height: 40px
			width: 40px
			background-image: url(img/icons/gift.svg)
			background-repeat: no-repeat
			background-size: contain
			background-position: center
	ul
		li
			display: flex
			justify-content: space-between
			align-items: center
			margin-top: 15px
			b
				font-weight: 500

.column
	flex-direction: column
	align-items: flex-start
.right-tz
	height: auto
.options
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	background-color: #fff
	padding: 40px
	border-radius: 25px
	z-index: 200
	display: none
	width: 600px
	max-width: 95%
	max-height: 90%
	padding-top: 80px
	&-wrap
		display: flex
		justify-content: center
		flex-wrap: wrap
		width: 100%
		align-items: center
	.calc-row
		width: 50%



.i-choice
	position: fixed
	z-index: 200
	top: 50%
	left: 50%
	background-color: #fff
	transform: translate(-50%, -50%)
	border-radius: 25px
	padding: 60px
	max-width: 90%
	.calc-row
		justify-content: center
		width: 100%
		margin-bottom: 0
	.button.alt
		max-width: 100px
		padding: 10px
		height: 40px
		margin: 0 10px
	h3
		font-size: 24px
		text-align: center
		margin-bottom: 50px
.reg-stand
	font-size: 10px
.flex-start
	align-items: flex-start

.min-select
	max-width: 120px
	select
		max-width: 120px
		border: none
.type-img
	cursor: pointer
.img-popup
	z-index: 300
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	width: 100%
	height: 100%
	display: none
	background-color: rgba(#000, .4)
	img
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		max-width: 80%
		max-height: 80%
		object-fit: contain
		margin: auto
.res-opt
	max-width: 300px
	padding-left: 10px
	padding-bottom: 5px
.floor-height
	height: 700px
	.calc-wrap-right__height
		top: 70
		left: 36px
	.calc-wrap-right__width
		right: 107px
		bottom: 11px
.floor-type
	height: auto
	position: relative
	.type-img
		&:hover + .floor-hover
			display: block
.floor-hover
	display: none
	position: absolute
	background-color: #fff
	padding: 20px 30px
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 32px rgba(0, 0, 0, 0.16)
	border-radius: 8px
.calc-wrap
	.act-floor
		height: 700px
		&-obl
			height: 310px
			width: 215px













@import "media1200"
@import "media992"
@import "media768"
@import "media578"
@import "media440"
@import "media380"
@import "media360"




