@charset "UTF-8";
@font-face {
  font-family: 'font';
  src: url("fonts/Ubuntu-Regular.eot");
  src: local("☺"), url("fonts/Ubuntu-Regular.woff") format("woff"), url("fonts/Ubuntu-Regular.ttf") format("truetype"), url("fonts/Ubuntu-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'font';
  src: url("fonts/Ubuntu-Bold.eot");
  src: local("☺"), url("fonts/Ubuntu-Bold.woff") format("woff"), url("fonts/Ubuntu-Bold.ttf") format("truetype"), url("fonts/Ubuntu-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: auto;
  color: #000000;
  font-family: "font", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
}

a, a:hover, a:active, a:link, a:focus {
  text-decoration: none;
  outline: none;
  color: #000000;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  font-size: 16px;
}

div, span, article, nav, section, main, header {
  padding: 0;
  margin: 0;
}

input, button, select, textarea {
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  color: #000000;
}

input[type="text"], input[type="tel"], input[type="password"], input[type="email"] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset -1px 3px 7px rgba(0, 0, 0, 0.07);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"], input[type="tel"], input[type="submit"], button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 15px;
}

input:focus, textarea:focus, select:focus, button:focus, select:focus {
  outline: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 767px) {
  .container {
    max-width: 740px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

section, footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.button.alt {
  color: #ffffff;
}

.button.alt:hover {
  color: #000;
}

.phone a, .adress a {
  transition: 0.3s;
}

.phone a:hover, .adress a:hover {
  color: #FED450;
  transition: 0.3s;
}

.title {
  font-size: 34px;
  line-height: 1.3;
  text-align: left;
}

.subtitle {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.button, .button-alt {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  height: 60px;
  width: 240px;
  background-color: #FED450;
  border-radius: 7px;
  box-shadow: none;
  transition: 0.3s;
  cursor: pointer;
}

.button img, .button-alt img {
  margin-right: 10px;
}

.button:hover, .button-alt:hover {
  background-color: #4B49BF;
  color: #ffffff;
}

.alt {
  background-color: #4B49BF;
  color: #ffffff;
}

.alt:hover {
  background-color: #FED450;
  color: #000000;
}

.deactive {
  pointer-events: none;
  background-color: #F3F3F3;
  color: #000000;
  opacity: 0.5;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 0 20px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__call {
  background-color: #4B49BF;
}

.header__call:hover {
  background-color: #FED450;
  color: #000000;
}

.header__menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu ul li {
  margin: 0 15px;
}

.header__menu ul li a {
  font-size: 18px;
  color: #ffffff;
  position: relative;
  transition: 0.3s;
}

.header__menu ul li a:hover {
  transition: 0.3s;
  color: #FED450;
}

.header__menu ul li a:hover::after {
  transition: 0.3s;
  width: 100%;
}

.header__menu ul li a::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 0%;
  bottom: -5px;
  left: 0;
  background-color: #FED450;
  transition: 0.3s;
}

.offer {
  background-image: url(img/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 180px;
  padding-bottom: 70px;
}

.offer-left {
  width: 65%;
}

.offer-left h1 {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 30px;
}

.offer-left p {
  font-size: 24px;
  margin-bottom: 30px;
  color: #ffffff;
}

.offer-left .button {
  color: #000000;
}

.offer-left .button:hover {
  color: #ffffff;
}

.offer-right {
  width: 35%;
}

.offer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video {
  padding-top: 100px;
}

.video-wrap .play {
  height: 550px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.video-wrap .play img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.video-wrap .play:hover {
  transition: 0.3s;
  transform: scale(1.01);
}

.video-wrap .play iframe {
  display: none;
  height: 100% !important;
  width: 100% !important;
  border-radius: 20px;
  z-index: 5;
}

.features-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.features-wrap-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.features-wrap-item img {
  height: 90px;
  width: 90px;
  margin-bottom: 25px;
}

.features-wrap-item h3 {
  margin-bottom: 15px;
  font-size: 26px;
}

.features-wrap-item p {
  font-size: 18px;
  padding-right: 40px;
}

.better-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding-top: 30px;
}

.better-wrap-item {
  width: 45%;
  display: block;
  padding-left: 70px;
  margin-bottom: 30px;
  position: relative;
}

.better-wrap-item h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

.better-wrap-item p {
  font-size: 18px;
}

.better-wrap-item img {
  position: absolute;
  left: 0;
  height: 50px;
  width: 50px;
  object-fit: cover;
  top: 0;
}

.constructor {
  padding-top: 0px;
  padding-bottom: 100px;
}

.constructor-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.constructor-buttons .deactive {
  color: #000000 !important;
}

.constructor-buttons .button {
  margin-left: 20px;
  color: #ffffff;
}

.constructor-buttons .button:hover {
  color: #000000;
}

.constructor-buttons .notice {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
  background: #fff;
  padding: 12px 25px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.constructor-buttons .notice::before {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
  z-index: -1;
  height: 20px;
  width: 20px;
  right: -8px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  content: '';
}

.constructor-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.constructor-wrap-item {
  width: calc(25% - 10px);
  border-radius: 25px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 250px 25px 25px 25px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 50px;
}

.constructor-wrap-item .button {
  height: 50px;
  width: 100%;
  max-width: calc(100% - 30px);
}

.constructor-wrap-item:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

.constructor-wrap-item h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

.constructor-wrap-item img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 125px;
}

.constructor-wrap-item:nth-child(2) img {
  max-width: 170px;
  bottom: 114px;
}

.constructor-wrap-item:nth-child(4) img {
  max-width: 170px;
  bottom: 160px;
}

.constructor-wrap-item .assets {
  position: absolute;
  bottom: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.constructor-wrap-item .assets div.assets-d {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 50px;
  background: #fff;
  border: 1px solid #E3E3E3;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin: 0 5px;
}

.constructor-wrap-item .assets div.assets-d:hover {
  color: #000;
  background-color: #FED450;
}

.constructor-wrap-item .assets div.assets-d img {
  position: static;
  transform: none;
}

.constructor-page {
  background-image: url(img/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 180px;
  padding-bottom: 70px;
}

.constructor-page .title, .constructor-page .subtitle {
  color: #ffffff;
}

.constructor-page .constructor-wrap-item {
  background-color: #fff;
}

.up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  background-color: #4B49BF;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  display: none;
  z-index: 10;
}

.up:hover {
  background: #FED450;
  transition: 0.3s;
}

.up::after {
  position: absolute;
  width: 15px;
  height: 15px;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-image: url(img/icons/slider-white.svg);
}

.call {
  background-color: #FED450;
}

.call .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call-left {
  width: 40%;
}

.call-right {
  width: 50%;
}

.call-right .form-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.call-right .form-wrap-right input {
  padding: 15px 35px;
  color: #ffffff;
  background-color: #000000;
  height: auto;
  width: auto;
  border-radius: 7px;
  box-shadow: none;
  font-size: 16px;
  margin: 0;
}

.call-right .form-wrap-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
}

.call-right .form-wrap-left input {
  font-size: 16px;
  color: #000000;
  box-shadow: none;
  border-radius: 7px;
  padding: 15px 20px;
  width: 380px;
  max-width: 400px;
}

.call-right .form-wrap-left input::placeholder {
  color: #000000;
}

.call-right h2 {
  font-size: 34px;
}

.call-right p {
  font-size: 30px;
  margin-bottom: 50px;
}

.call-right b {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer {
  padding-top: 0;
  padding-bottom: 0;
}

.footer-top {
  background: #111111;
}

.footer-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.footer-top p, .footer-top a {
  color: #ffffff;
}

.footer-top .social a {
  margin: 0 5px;
}

.footer-top .social a img {
  height: 30px;
  width: 30px;
}

.footer-top .phone p {
  font-size: 14px;
}

.footer-top .phone a {
  font-size: 18px;
}

.footer-top .adress img {
  height: 10px;
  width: 10px;
  object-fit: contain;
  margin-right: 10px;
}

.footer-top .adress p {
  font-size: 14px;
  margin-bottom: 5px;
  padding: 0;
  margin: 0;
}

.footer-top .adress a {
  font-size: 14px;
  position: relative;
}

.footer-bot .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.overlay-first {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.close-opt {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #000;
  font-size: 34px;
  cursor: pointer;
}

.popup {
  background-color: #4B49BF;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  z-index: 110;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  width: 100%;
  max-width: 500px;
  display: none;
}

.popup-gif {
  max-width: 800px;
  padding: 30px;
}

.popup-gif .content video {
  max-width: 100%;
  border-radius: 25px;
}

.popup h2 {
  margin-bottom: 50px;
  font-size: 24px;
  color: #ffffff;
}

.popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #ffffff;
  font-size: 34px;
  cursor: pointer;
}

.popup-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popup-wrap .hidden {
  display: none;
}

.popup-wrap strong {
  display: block;
  margin-top: -20px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 22px;
}

.popup-wrap strong b {
  font-size: 24px;
}

.popup-wrap p {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 5px;
}

.popup-wrap input[type="submit"].button-alt {
  padding: 15px 35px;
  background-color: #FED450;
  color: #000000;
  width: auto;
  display: block;
  margin-top: 10px;
}

.popup-wrap input[type="submit"].button-alt:hover {
  color: #ffffff;
  background-color: #111111;
}

.popup-wrap input[type="tel"], .popup-wrap input[type="text"], .popup-wrap input[type="email"] {
  padding: 15px 20px;
  margin-bottom: 25px;
  border-radius: 7px;
  color: #000000;
  font-size: 16px;
  width: 100%;
  max-width: 100%;
}

#thx {
  background-color: #fff;
  width: 100%;
  max-width: 600px;
  border-radius: 70px;
  padding: 70px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  display: none;
}

#thx div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 70px 0;
}

#thx div h2 {
  font-size: 48px;
  text-align: center;
}

#thx div p {
  font-size: 22px;
  text-align: center;
  margin-top: 50px;
}

.burger {
  display: none;
}

.calc-popup {
  position: fixed;
  max-width: 1140px;
  width: 100%;
  padding: 40px;
  border-radius: 20px;
  background-color: #fff;
  z-index: 150;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}

.calc-popup h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.calc-popup::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.calc-popup::-webkit-scrollbar-button {
  background: transparent;
}

.calc-popup::-webkit-scrollbar-track {
  background-color: #4B49BF;
}

.calc-popup::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

.calc-popup::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #4B49BF;
}

.calc-popup::-webkit-scrollbar-corner {
  background-color: #999;
}

.calc-popup::-webkit-resizer {
  background-color: #4B49BF;
}

.calc-popup-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.calc-popup-wrap-left {
  width: calc(48%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.calc-popup-wrap-left .calc-popup-wrap-item:last-child {
  background-color: #fff;
}

.calc-popup-wrap-left .calc-popup-wrap-item:last-child b {
  font-size: 22px;
}

.calc-popup-wrap-left .calc-popup-wrap-item:last-child p {
  font-size: 20px;
}

.calc-popup-wrap-right {
  width: calc(48%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.calc-popup-wrap-item {
  width: 100%;
  background: #F5F5F5;
  border-radius: 30px;
  margin-bottom: 30px;
  padding: 30px 30px 20px 30px;
}

.calc-popup-wrap-item .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.calc-popup-wrap-item .buttons .button {
  font-size: 16px;
  max-width: 48%;
}

.calc-popup-wrap-item .buttons .calc-close {
  background-color: #ACACAC;
  color: #ffffff;
}

.calc-popup-wrap-item h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.calc-popup-wrap-item .result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #E3E3E3;
}

.calc-popup-wrap-item .result .calc-row {
  margin-bottom: 0;
}

.calc-popup-wrap-item .result:last-child {
  border-bottom: none;
}

.calc-popup-wrap-item .result b {
  font-size: 18px;
  font-weight: 600;
}

.calc-popup-wrap-item .result p {
  font-size: 16px;
}

.calc-popup-wrap-item .result select {
  max-width: 200px !important;
  padding-top: 16px;
  padding-bottom: 16px;
}

.calc-popup-wrap-item .result .select::after {
  height: 9px;
}

.calc-overlay {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 140;
}

.calc label {
  color: #141414;
}

.calc-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.calc-form-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.calc-form-left label {
  padding-left: 3px;
  font-weight: 400;
}

.calc-form-left input {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 7px;
  padding: 20px 30px;
  box-shadow: none;
}

.calc-form-left input {
  margin-bottom: 30px;
  margin-top: 5px;
}

.calc-form-right {
  width: 55%;
}

.calc-form-right label {
  padding-left: 3px;
  font-weight: 400;
}

.calc-form-right textarea {
  margin-top: 5px;
  width: 100%;
  height: calc(100% - 52px);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 7px;
  padding: 20px 30px;
  box-shadow: none;
  resize: none;
}

.calc-form-submit {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.calc-form-submit small {
  font-size: 14px;
  color: #ACACAC;
  max-width: 300px;
  margin-left: 40px;
}

.calc-form-submit small a {
  color: #4B49BF;
  font-size: 14px;
}

.calc-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
  position: relative;
  width: max-content;
  max-width: 100%;
}

.calc-row input[type="text"] {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 7px;
  padding: 16px 50px 16px 20px;
  box-shadow: none;
  margin-top: 5px;
}

.calc-row .toggle-q {
  position: absolute;
  top: -10px;
  right: -15px;
  color: #4B49BF;
  font-size: 20px;
  cursor: pointer;
}

.calc-row input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  margin-bottom: 3px;
  box-shadow: none;
  cursor: pointer;
}

.calc-row .act-wrap {
  height: 300px;
}

.calc-row .act-obl {
  position: absolute;
  top: 37px;
  left: 40px;
  height: 220px;
  width: 320px;
  background: #E3E3E3;
  border: 1px solid #141414;
}

.calc-row label {
  cursor: pointer;
}

.calc-row input[type="radio"] {
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
  box-shadow: none;
  margin-top: 10px;
  margin-right: 25px;
}

.calc-row b {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 3px;
  display: block;
}

.calc-row p {
  font-size: 16px;
}

.calc-row input[type="number"], .calc-row select, .calc-row textarea, .calc-row button {
  background-color: #fff;
  box-shadow: none;
  border-radius: 7px;
  border: 1px solid #E3E3E3;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.calc-row input[type="number"]::-webkit-outer-spin-button, .calc-row input[type="number"]::-webkit-inner-spin-button, .calc-row select::-webkit-outer-spin-button, .calc-row select::-webkit-inner-spin-button, .calc-row textarea::-webkit-outer-spin-button, .calc-row textarea::-webkit-inner-spin-button, .calc-row button::-webkit-outer-spin-button, .calc-row button::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.calc-row input[type="number"] {
  border: none;
}

.calc-row .select {
  position: relative;
}

.calc-row .select::after {
  position: absolute;
  pointer-events: none;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  height: 8px;
  width: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(img/icons/down.svg);
}

.calc-row select {
  padding: 16px 30px;
  width: 380px;
}

.calc-row-numbers__input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 7px;
  border: 1px solid #E3E3E3;
}

.calc-row-numbers__input .minus, .calc-row-numbers__input .plus {
  background-color: #ffffff;
  width: 30px;
  height: 52px;
  position: relative;
  cursor: pointer;
}

.calc-row-numbers__input .minus::after, .calc-row-numbers__input .plus::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-attachment: cover;
  background-position: center;
}

.calc-row-numbers__input .minus {
  border-radius: 7px 0 0 7px;
}

.calc-row-numbers__input .minus::after {
  background-image: url(img/icons/calc-minus.svg);
}

.calc-row-numbers__input .plus {
  border-radius: 0 7px 7px 0;
}

.calc-row-numbers__input .plus::after {
  background-image: url(img/icons/plus.svg);
}

.calc-row-numbers__input input {
  height: 52px;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 60px;
  padding-left: 15px;
  border-radius: 0;
}

.calc-row-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.calc-row-column input[type="file"] {
  padding: 10px;
  box-shadow: none;
  background-color: #fff;
  margin-top: 5px;
}

.calc-row-column p {
  margin-bottom: 10px;
  display: block;
}

.calc-section {
  background-color: #F5F5F5;
  padding: 60px;
  border-radius: 30px;
  margin-top: 50px;
}

.calc-section:last-child {
  margin-bottom: 50px;
}

.calc-section .title {
  font-size: 32px;
  line-height: 1;
}

.calc-section .subtitle {
  font-size: 16px;
  color: #747474;
  max-width: 700px;
  margin-bottom: 40px;
}

.calc-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.calc-wrap p {
  margin-bottom: 2px;
  font-size: 16px;
  padding-left: 3px;
}

.calc-wrap-left {
  width: calc(100% - 450px);
}

.calc-wrap-right {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.calc-wrap-right__height {
  position: absolute;
  top: 57px;
  left: 5px;
  transform: rotate(-90deg);
  font-size: 18px;
  background-color: #E3E3E3;
  padding: 2px 5px;
  min-width: 40px;
  border-radius: 5px;
}

.calc-wrap-right__width {
  position: absolute;
  min-width: 40px;
  bottom: 8px;
  right: 108px;
  font-size: 18px;
  background-color: #E3E3E3;
  padding: 2px 5px;
  border-radius: 5px;
}

.calc-wrap-right img {
  object-fit: contain;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.calc-row b.q-text {
  position: absolute;
  padding: 20px;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  right: -30px;
  color: #000000;
  bottom: 10px;
  left: 10px;
  width: 300px;
  display: none;
}

.toggle-q:hover b.q-text {
  display: block;
}

.calc-ral {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1200px;
  padding: 50px;
  border-radius: 45px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 200;
  display: none;
  overflow-y: auto;
  max-height: 90%;
}

.calc-ral-wrap {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.calc-ral-wrap__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: calc(100% / 17 - 2px);
  margin-right: 2px;
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 14px;
  min-height: 40px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s;
}

.calc-ral-wrap__item:hover {
  color: #000000;
  border: 4px solid #ffffff;
  transition: 0.3s;
}

.calc-ral .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
}

.action-block {
  background-color: #fff;
  padding: 25px;
  border-radius: 25px;
  max-width: 270px;
}

.action-block h4 {
  font-size: 18px;
  font-weight: 500;
  padding-left: 60px;
  position: relative;
  margin-bottom: 25px;
  display: block;
}

.action-block h4::after {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  background-image: url(img/icons/gift.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.action-block ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.action-block ul li b {
  font-weight: 500;
}

.column {
  flex-direction: column;
  align-items: flex-start;
}

.right-tz {
  height: auto;
}

.options {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px;
  border-radius: 25px;
  z-index: 200;
  display: none;
  width: 600px;
  max-width: 95%;
  max-height: 90%;
  padding-top: 80px;
}

.options-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.options .calc-row {
  width: 50%;
}

.i-choice {
  position: fixed;
  z-index: 200;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  padding: 60px;
  max-width: 90%;
}

.i-choice .calc-row {
  justify-content: center;
  width: 100%;
  margin-bottom: 0;
}

.i-choice .button.alt {
  max-width: 100px;
  padding: 10px;
  height: 40px;
  margin: 0 10px;
}

.i-choice h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.reg-stand {
  font-size: 10px;
}

.flex-start {
  align-items: flex-start;
}

.min-select {
  max-width: 120px;
}

.min-select select {
  max-width: 120px;
  border: none;
}

.type-img {
  cursor: pointer;
}

.img-popup {
  z-index: 300;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.img-popup img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  margin: auto;
}

.res-opt {
  max-width: 300px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.floor-height {
  height: 700px;
}

.floor-height .calc-wrap-right__height {
  top: 70;
  left: 36px;
}

.floor-height .calc-wrap-right__width {
  right: 107px;
  bottom: 11px;
}

.floor-type {
  height: auto;
  position: relative;
}

.floor-type .type-img:hover + .floor-hover {
  display: block;
}

.floor-hover {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 20px 30px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 32px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.calc-wrap .act-floor {
  height: 700px;
}

.calc-wrap .act-floor-obl {
  height: 310px;
  width: 215px;
}

.constructor-page.constructor .constructor-wrap {
  margin-top: 70px;
}

.constructor-page.constructor .constructor-wrap-item::after {
  position: absolute;
  content: '';
  height: 25px;
  width: 25px;
  background: #F5F5F5;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  top: 15px;
  right: 15px;
}

.constructor-page.constructor .constructor-wrap-item img {
  bottom: 60px;
}

.constructor-page.constructor .constructor-wrap-item-active::before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 5px;
  top: 19px;
  right: 18px;
  background-image: url(img/icons/check-blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 5;
}

.constructor-page.constructor .constructor-wrap-item:nth-child(4) img {
  bottom: 95px;
}

@media (max-width: 1199px) {
  .calc-popup {
    max-width: 95%;
    max-height: 95%;
  }
  .call-right {
    width: 65%;
  }
  .call-left {
    width: 35%;
  }
  .calc-ral {
    max-width: 95%;
  }
}

@media (max-width: 992px) {
  .constructor-wrap-item:hover {
    transform: none;
  }
  .constructor {
    padding-bottom: 50px;
  }
  .constructor-wrap {
    flex-wrap: wrap;
  }
  .constructor-wrap-item {
    width: calc(50% - 10px);
  }
  .constructor-wrap-item:nth-child(3), .constructor-wrap-item:nth-child(4) {
    margin-top: 130px;
  }
  .better {
    padding-top: 0;
  }
  .features {
    padding-top: 0;
  }
  .features-wrap {
    flex-direction: column;
    align-items: center;
  }
  .features-wrap-item {
    margin-top: 0;
    align-items: center;
    margin-bottom: 30px;
    max-width: 400px;
  }
  .features-wrap-item p {
    text-align: center;
    padding-right: 0;
  }
  .features-wrap-item h2 {
    text-align: center;
  }
  .video-wrap .play {
    height: 400px;
  }
  .title {
    font-size: 24px;
    text-align: center;
  }
  .subtitle {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
  }
  .video {
    padding-top: 35px;
  }
  .offer-left .button:hover {
    color: #000000;
  }
  .button:hover {
    background-color: #FED450;
    color: #000000;
  }
  .alt:hover {
    background-color: #4B49BF;
    color: #ffffff;
  }
  .offer {
    padding-top: 120px;
  }
  .offer-left h1 {
    font-size: 30px;
  }
  .offer-left p {
    font-size: 18px;
  }
  .header {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    z-index: 50;
  }
  .header__logo {
    position: relative;
    height: 40px;
    width: 190px;
  }
  .header__logo img {
    display: none;
  }
  .header__logo a {
    height: 40px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__logo::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    height: 40px;
    width: 190px;
    background-image: url(img/logo-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .header__menu {
    display: none;
    position: fixed;
    background: #fff;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }
  .header__menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  .header__menu ul li {
    margin-bottom: 20px;
  }
  .header__menu ul li a {
    color: #000000;
  }
  .header__call {
    display: none;
    position: fixed;
    left: 15px;
    height: auto;
    width: auto;
    padding: 15px 45px;
    font-size: 18px;
    z-index: 60;
  }
  .header__call img {
    height: 15px;
  }
  .header .burger {
    display: block;
    z-index: 70;
    height: 40px;
    width: 40px;
    position: relative;
  }
  .header .burger span {
    transition: 0.3s;
    background-color: #4B49BF;
    height: 5px;
    width: 100%;
    display: block;
    position: absolute;
    top: 7px;
  }
  .header .burger span:nth-child(2) {
    top: 17px;
  }
  .header .burger span:nth-child(3) {
    top: 27px;
  }
  .header .burger-active span {
    transition: 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
  }
  .header .burger-active span:nth-child(2) {
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
  }
  .header .burger-active span:nth-child(3) {
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    top: 50%;
  }
  .call-left {
    display: none;
  }
  .call-right {
    width: 100%;
  }
  .footer-top .container {
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-top .container div, .footer-top .container a, .footer-top .container p {
    text-align: center;
    margin-bottom: 15px;
  }
  .footer-top .container .social {
    margin-bottom: 0;
  }
  .constructor-page {
    padding-top: 120px;
  }
  .calc-popup-wrap {
    flex-direction: column;
    position: relative;
    padding-bottom: 300px;
  }
  .calc-popup-wrap .calc-submit {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .calc-popup-wrap-item .calc-row {
    margin-left: 0;
  }
  .calc-popup-wrap-left {
    width: 100%;
  }
  .calc-popup-wrap-right {
    width: 100%;
  }
  .calc-form {
    flex-direction: column;
    align-items: center;
  }
  .calc-form-left {
    width: 100%;
    max-width: 400px;
  }
  .calc-form-right {
    width: 100%;
    max-width: 400px;
  }
  .calc-form-submit {
    margin-top: 50px;
  }
  .calc-row {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .calc-section .subtitle {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .calc-wrap {
    flex-direction: column;
    align-items: center;
  }
  .calc-wrap-left {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .calc-wrap-left p {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
  .calc-row b.q-text {
    left: auto;
    right: 15px;
  }
  .calc-popup h2 {
    font-size: 22px;
    text-align: center;
  }
  .calc-popup-wrap-item h3 {
    font-size: 16px;
  }
  .calc-popup-wrap-item .result b {
    font-size: 16px;
  }
  .calc-popup-wrap-item .result .calc-row {
    flex-direction: column;
  }
  .calc-popup-wrap-item .result select {
    max-width: 100% !important;
    width: 100%;
  }
  .calc-row .calc-row-column {
    margin-bottom: 20px;
  }
  .calc-row .calc-row-column:last-child {
    margin-bottom: 0;
  }
  .calc-popup-wrap-item .buttons {
    flex-direction: column;
    align-items: center;
  }
  .calc-popup-wrap-item .buttons .calc-close, .calc-popup-wrap-item .buttons .button {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .calc-popup-wrap-item .buttons {
    margin: 0;
    margin-top: 30px;
  }
  .calc-popup-wrap-left .calc-popup-wrap-item:last-child {
    padding-left: 0;
    padding-right: 0;
  }
  .calc-popup-wrap-left .calc-popup-wrap-item:last-child b {
    font-size: 16px;
  }
  .calc-popup-wrap-left .calc-popup-wrap-item:last-child p {
    font-size: 14px;
  }
  .calc-popup-wrap {
    padding-bottom: 340px;
  }
  .calc-ral-wrap__item {
    width: calc(11% - 2px);
  }
}

@media (max-width: 767px) {
  .calc-section .title {
    font-size: 24px;
  }
  .calc-form-submit {
    flex-direction: column;
    align-items: center;
  }
  .calc-form-submit .button {
    margin-bottom: 30px;
  }
  .video-wrap .play {
    height: 280px;
  }
  .features-wrap-item img {
    height: 70px;
    width: 70px;
  }
  .features-wrap-item h3 {
    font-size: 20px;
  }
  .features-wrap-item p {
    font-size: 16px;
  }
  .better {
    padding-bottom: 10px;
  }
  .better-wrap {
    padding-top: 0;
  }
  .better-wrap-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .better-wrap-item h3 {
    font-size: 20px;
  }
  .better-wrap-item p {
    font-size: 16px;
  }
  .call-right .form-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .call-right .form-wrap .form-wrap-left {
    margin-bottom: 20px;
  }
}

@media (max-width: 578px) {
  .calc-wrap-right__width {
    bottom: 5px;
    right: 70px;
  }
  .calc-wrap-right__height {
    top: 40px;
    left: -3px;
  }
  .calc-popup {
    padding: 30px 20px;
  }
  .calc-popup .calc-row .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .calc-popup h3 {
    font-size: 24px;
  }
  .calc-popup-wrap-item h3 {
    font-size: 18px;
  }
  .calc-row .toggle-q {
    right: -5px;
  }
  .calc-row .act-obl {
    height: 150px;
    width: 220px;
  }
  .calc-row b {
    font-size: 18px;
  }
  .calc-row p {
    font-size: 14px;
  }
  .calc-section {
    padding: 30px 20px;
  }
  .calc-wrap-left p {
    margin-left: 0;
  }
  .calc-wrap-right {
    width: 300px;
    height: 230px;
  }
  .calc-row .calc-row-column {
    width: 100%;
  }
  .calc-row select, .calc-row .select {
    width: 100%;
    max-width: 100%;
  }
  .offer-left h1 {
    font-size: 24px;
  }
  .offer-left p {
    font-size: 18px;
  }
  .video-wrap .play {
    height: 240px;
  }
  .constructor-buttons .notice {
    font-size: 10px;
    text-align: center;
  }
  .constructor-wrap-item {
    width: 100%;
  }
  .constructor-wrap-item:hover {
    transform: none;
  }
  .constructor-wrap-item:nth-child(1) {
    margin-bottom: 70px;
  }
  .constructor-wrap-item:nth-child(3) {
    margin-top: 90px;
  }
  .constructor-wrap-item:nth-child(4) {
    margin-top: 0px;
  }
  .title {
    margin-bottom: 10px;
  }
  .offer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .offer-left {
    width: 100%;
  }
  .offer-right {
    width: 80%;
    margin-top: 50px;
  }
  .call-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .call-right h2 {
    font-size: 24px;
  }
  .call-right p {
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
  }
  .call-right .form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .call-right .form-wrap-left {
    align-items: center;
    padding-right: 0;
  }
  .popup {
    padding: 40px 25px;
    max-width: calc(100% - 40px);
  }
  .calc-ral-wrap__item {
    width: calc(33% - 2px);
  }
  .calc {
    padding-top: 0;
  }
  .right-tz {
    height: auto;
    width: 100%;
    max-width: 400px;
  }
  .calc-row-column input[type="file"] {
    max-width: 100%;
    font-size: 14px;
  }
  .action-block {
    margin-top: -50px;
    width: 100%;
    max-width: 100%;
  }
  .calc-row p, .calc-wrap-left p, .calc-wrap p {
    font-size: 12px;
  }
  input, select, textarea {
    font-size: 14px !important;
  }
  .calc-section .title {
    font-size: 20px;
  }
  .calc-section .subtitle {
    font-size: 14px;
  }
  .calc label {
    font-size: 14px;
  }
  .calc-form-submit small {
    font-size: 12px;
    text-align: center;
  }
  .options {
    overflow-y: auto;
  }
  .options-wrap .calc-row {
    width: 100%;
  }
  .mob-column {
    flex-direction: column;
    align-items: center;
  }
  .calc-row .select.min-select {
    max-width: 100%;
    width: 120px;
  }
  .mob-width-max {
    width: 100%;
  }
  .mob-responsive-img {
    height: auto;
  }
  .calc-popup-wrap-item .result p {
    font-size: 12px;
  }
  .calc-popup-wrap-item .result b {
    font-size: 12px;
  }
  .calc-popup-wrap-item h3 {
    font-size: 14px;
  }
  .calc-popup h2 {
    font-size: 16px;
  }
  .calc-popup {
    padding: 20px 15px;
  }
  .calc-popup-wrap-item {
    padding: 15px 15px 10px 20px;
    margin-bottom: 15px;
  }
}

@media (max-width: 440px) {
  .footer-bot .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-bot .container p {
    margin-bottom: 15px;
  }
}

@media (max-width: 380px) {
  .call-right .form-wrap-left input {
    max-width: 100%;
    width: 300px;
  }
}

@media (max-width: 360px) {
  body {
    background-color: #fff;
  }
}
